/* diaryList.js */
* {
  box-sizing: border-box;
  font-family: Noto Sans KR;
}

#root {
  height: 100%;
}

.diary_container {
  display: flex;
  justify-content: center;
  align-items: center;

  /* background-color: white; */
  display: flex;
  flex-direction: column;
}

.diary-block {
  display: flex;
  box-sizing: border-box;
  margin: 20px auto;
  background-color: antiquewhite;
  width: 700px;
  height: 100px;
  padding: 20px 150px;
  text-align: center;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px,
    rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
  position: relative;
}

.diary-block:hover {
  box-sizing: border-box;
  border: 2px solid gray;
}

.diary-detail {
  box-sizing: border-box;
  display: flex;
  margin: 40px auto;
  background-color: antiquewhite;
  width: 700px;
  padding: 20px 100px;
  text-align: center;
  border-radius: 20px;
  /* height: 500px; */
  flex-direction: row;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px,
    rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
  position: relative;
}

.diary-img-group {
  width: 170px;
}

.diary-first {
  display: flex;
  /* font-size: 36px; */
  /* background-color: yellow; */
}

.diary-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 100px;
  width: 330px;
}

.diary-info p {
  margin: 10px 0px;
}

.diary-info > button {
  background-color: #caa969;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  height: 30px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px,
    rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
  cursor: pointer;
  color: white;
}

.diary-group {
  margin-top: 30px;
  margin-left: 10px;

  /* background-color:aqua; */
  border: 2px solid rgb(153, 121, 85);
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

.diary-group p {
  margin: 10px 0px;
  font-size: 18px;
}

.diary-group button:first-child {
  background-color: #caa969;
  color: white;
  border: none;
  border-radius: 5px;
  width: 70px;
  cursor: pointer;
  border: 2px solid white;
}

.diary-group button:last-child {
  background-color: white;
  border: 2px solid #f36464;
  color: #f36464;
  cursor: pointer;
}

.diary-group button:first-child:hover {
  background-color: white;
  color: #caa969;
  border: 2px solid #caa969;
}

.diary-group button:last-child:hover {
  background-color: #f36464;
  border: 2px solid white;
  color: white;
}
.diary-block .diary-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 20px;
}

.diary-detail .diary-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 20px;
  margin-top: 30px;
  margin-left: 30px;
}

.diary-detail .diary-name {
  background-color: white;
  border-radius: 10px;
  text-align: center;
  color: #caa969;
}

.diary-detail .diary-spec {
  background-color: white;
  border-radius: 10px;
  margin-top: 15px;
  color: #333333;
}

.diary-spec > p {
  font-size: 20px;
  margin: 15px 0px;
}

.diary-second {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}

.diary-second button {
  width: 400px;
  height: 40px;
  margin-bottom: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px,
    rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
  border: none;
  border-radius: 5px;
}

.diary-second button:hover {
  border: 1px solid rgb(153, 121, 85);
}

.diary-add {
  display: flex;
  box-sizing: border-box;
  margin: 40px auto;
  background-color: antiquewhite;
  width: 700px;
  height: 100px;
  padding: 20px 200px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px,
    rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
}

.diary-add:hover {
  box-sizing: border-box;
  border: 2px solid gray;
}

.diary-add p {
  font-size: 30px;
}

/* .diary-addinfo {
    box-sizing: border-box;
    display:flex;
    margin: 40px auto;
    background-color: antiquewhite;
    width: 700px;
    padding: 40px 100px;
    text-align: center;
    border-radius: 20px;
    height: 500px;
    flex-direction: column;
  } */
.diary-detail > form {
  display: flex;
  flex-direction: row;
}

/* diaryadd */
.diary-img-regist {
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 15px;
  align-items: center;
}

#preview-image {
  display: flex;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.diary-info-regist {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
}

.diary-img-regist img + label {
  display: flex;
  color: #0095f6;
  cursor: pointer;
}
.select p {
  margin: 10px 0px;
}

.select input[type='radio'] {
  display: none;
}

.select input[type='radio'] + label {
  display: inline-block;
  cursor: pointer;
  height: 40px;
  width: 130px;
  border: 2px solid white;
  border-radius: 5px;
  text-align: center;
  vertical-align: center;
  padding: 5px;
  margin-left: 5px;
  background-color: white;
}

.select input[type='radio'] + label:hover {
  background-color: rgb(212, 212, 212);
  border: 2px solid rgb(212, 212, 212);
}

.select input[type='radio']:checked + label {
  border: 2px solid rgb(153, 121, 85);
  /* background-color: orange; */
}

.diary-add-btn {
  height: 40px;
  margin-bottom: 10px;
  background-color: #caa969;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px,
    rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
  border: none;
  border-radius: 5px;
}

.diary-add-cancel-btn {
  background-color: white;
  color: black;
}
