.container {
    height: 100vh;
    display: flex;
    align-items: center;
  }
  
  .card {
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  }
  
  .form-group {
    margin-bottom: 1.5rem;
  }
  
  .btn-primary {
    background-color: #ffc400;
    border-color: #ffc400;
  }
  
  .btn-primary:hover {
    background-color: #ff9900;
    border-color: #ff9900;
  }
  
  .btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
  }
  
  .btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
  }
  